{% extends "auctions/layout.html" %}

{% load static %}

{% block body %}
<div class="col-sm-12 col-md-12 col-lg-12">
    <!-- product -->
    <div class="product-content product-wrap clearfix product-deatil">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="product-image">
                        <div class="carousel-inner">
                            <!-- Slide 1 -->
                            <div class="item active">
                            {%if imgurl%}
                            <img src="{{imgurl}}" class="img-responsive" alt="" />
                            {%else%}
                            <img src={% static 'auctions/no_image.png' %} class="img-responsive" alt="" />
                            {%endif%}
                            </div>
                        </div>
                       </div>
            </div>
            <div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
                {% if win%}<h2 class="name">
                    <div class="alert alert-warning  fade show" role="alert">
                        <strong>You are Winner! </strong>Seller agree with your bid ({{current_bid}}$) and you win this auction.
                            </button>
                        </div>
                {%endif%}

                </h2>
                <h2 class="name">
                    {{title}}
                </h2>
                <hr />
                <div class="price-container">
                   <h5>Starting price: ${{strbid}}</h5>   
                {%if current_bid > 0 %}
                    <h3>Current bid: ${{current_bid}}</h3> 
                {%else%}
                    <h6>Nobody place bid yet</h6> 
                {%endif%}
                </div>
                <div>
                    <ul>
                        <li>
                            </h5>Category: <span>{{category}}</span></h5>
                        </li>
                    </ul>
                </div>
                <hr />
                <div class="description description-tabs">
                    <div id="myTabContent" class="tab-content">
                            <br />
                            <strong>Description Title</strong>
                            <p>{{descr}}
                            </p>
                        <div class="tab-pane fade" id="reviews">
                            <br />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6" >
                    <div class="input-group">
    
        {% if user.is_authenticated and win < 1%}
        
        <form action="" method="post">
        <input
            type="number"
            name="updbid"
            class="price"
            aria-label="Amount (to the nearest dollar)"
            placeholder="Yor bid"
            min="1"
        />
        <input
            type="hidden"
            name="id" value="{{id}}"
        />
        <input
            type="hidden"
            name="title" value = {{title}}
        />
        {%csrf_token%}
        
        <button type="submit" class="btn btn-success btn-lg">Place new Bid</button>
        {% if close_button%}
        <button type="submit" class="btn btn-info btn-lg" name="end" value="close_bid">Close Listen</button>
        {%endif%}
        </form>
        {%endif%}
        </div>     
        </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="btn-group pull-right">
                        <form action={% url 'watchlist' %} method="POST">
                            {%csrf_token%}
                                
                               {% if watchlist%}
                               <button type="submit" name="rm_watchlist" value="{{title}}" class="btn btn-white btn-default"><i class="fa fa-star"></i> Remove from wishlist</button>
                                {%else%}
                               
                               <button type="submit" name="add_watchlist" value="{{title}}" class="btn btn-white btn-default"><i class="fa fa-star"></i> Add to wishlist</button>

                                {%endif%}
                        </form>
                        </div>
                    </div>
                </div>
                <br>
                {%if message%}
                    <div class="alert alert-success" role="alert"> <h5>{{message}}</h5></div>
                {%endif%}
                {%if error%}
                    <div class="alert alert-danger" role="alert"> <h5>{{error}}</h5></div>
                {%endif%}
                <br>
               
                {% if user.is_authenticated %}
                	<h5 >Add New Comment</h5>
                    <hr>
                <form>
                	<button type="submit" class="btn btn-normal pull-right">Add Comment</button>
                    <fieldset>
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                <textarea class="form-control" name="newcomment" id="comment" placeholder="Your comment" required=""></textarea>
                            </div>
                        </div>  	
                    </fieldset>
                </form>
                {% endif %}
                <h3>Last 5 comments</h3>
                <br />
                {% comment %} Comments section  {% endcomment %}
                {%for comment in comment_obj %}
                <div class="media">
                    <div class="media-body">
                        <p>{{comment.comment_text}}</p>
                        <ul class="list-unstyled list-inline media-detail pull-left">
                            <li><i class="fa fa-calendar"></i> {{comment.post_date}}</li>
                        </ul>
                    </div>
                </div>
                {%endfor%}
                {% comment %} Comments section  {% endcomment %}
            </div>
        </div>
    </div>
    <!-- end product -->
</div>
{% endblock %}