{% extends 'auctions/layout.html' %}
{% block winnings_active %}nav-active{% endblock %}


{% block body %}

<div class="container">
  <h2 class="text-center">Winning items for user: {{current_user}}</h2>
  <br />
  <div class="row">
    {% if winning_items %} 
        {%for i in winning_items %}
    
        <div class="col-md-3 col-sm-6">
        <div class="product-grid7">
            <div class="product-image7">
            <a href={% url "product"%}/{{i.title}}  >
                <img class="pic-1" src="{{i.imgurl}}" />
            </a>
           
            </div>
            <div class="product-content">
            <h3 class="title"><a href="#">{{i.title}}</a></h3>
            <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
            </ul>
            <div class="price">${{i.startbid}}</div>
            </div>
        </div>
        </div>
        {%endfor%} {% else %}
    <p>You are not yet winning any auction.</p>
    {%endif%}
  </div>
</div>
<hr />

{% endblock %}